<?xml version="1.0" encoding="utf-8"?>
<config>
	<params addpath="/application/admin/component/pages/element">
		<param name="menu_id" type="menu" default="" label="Menu" description="" />
		<param name="show_title" type="radio" default="0" label="Module title" description="">
			<option value="1">Show</option>
			<option value="0">Hide</option>
		</param>
	</params>
</config>